h2 {
  margin: 0;
}

.todotitle {
  margin-bottom: 24px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.isDone {
  opacity: 0.5;
}

.btn-addTodo {
  height: 40px;
  width: 40px;
  min-width: initial !important;
  padding: 0 !important;
  flex-shrink: 0;
}