h2 {
  margin: 0;
}

.todotitle {
  margin-bottom: 24px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.isDone {
  opacity: 0.5;
}

.checkbox.Mui-checked {
  opacity: 0.5;
}
